POSTGRES_DB=nba_stats
POSTGRES_USER=nba
POSTGRES_PASSWORD=nba_local_password
POSTGRES_PORT=5432
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://nba:nba_local_password@127.0.0.1:5432/nba_stats?sslmode=disable
GOOSE_MIGRATION_DIR=migrations
DATABASE_URL=postgres://nba:nba_local_password@127.0.0.1:5432/nba_stats?sslmode=disable